/*==========  CSS Reset  ==========*/

html, body, div, span, h1, h2, h3,
h4, h5, h6, p, ol, ul, li, article,
aside, footer, header, nav, section,
input, button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

/*==========  Navigation  ==========*/

/*==========  Header  ==========*/

h1 {
    color: #fff;
    text-align: center;
    font-size: 50px;
    padding: 20px 0;
}

/*==========  Main Content  ==========*/

body {
    background-color: rgb(16,17,18);
    font-family: 'Montserrat', sans-serif;
}

.container {
    text-align: center;
}

.section {
    max-width: 1200px;
    margin: auto;
    background-color: #fff;
    text-align: center;
}

.section:last-child {
    border-top: 2px solid rgb(16,17,18);
}

p {
    padding: 15px 0;
    font-size: 30px;
}

.lbl-text {
    font-size: 15px;
    word-wrap: break-word;
}

.textbox {
    border: 1px solid rgb(16,17,18);
    width: 248px;
}

input {
    display: block;
    margin: auto;
}

button {
    display: block;
    margin: 15px auto;
    padding: 20px 0;
    width: 250px;
    border: 1px solid rgb(16,17,18);
    -webkit-transition: color 0.5s, background-color 0.5s, ease;
    transition: color 0.5s, background-color 0.5s, ease;
    background-color: rgb(16, 17, 18);
    color: #fff;
}
button:hover {
    background-color: #fff;
    color: rgb(16, 17, 18);
    cursor: pointer;
}

/*==========  Footer  ==========*/

footer {
    position:relative;
    text-align: center;
    background-color: rgb(16,17,18);
    color: #fff;
    max-width: 1200px;
    margin: auto;
    padding: 20px 30px;
}

.social-networking-links {
    margin-top: 10px;
}

.social-networking-links a, .footer-tag a {
    text-decoration: none;
    font-size: 25px;
    color: #fff;
}

.linked-in {
    padding-left: 25px;
}

.social-networking-links a:hover, .footer-tag a:hover {
    color: #464646;
}

.footer-tag {
}

.footer-tag a {
    border-right: 2px solid #fff;
    padding-right: 5.5px;
    font-size: 16px;
}

/*==========  For Desktop First  ==========*/

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 480px) {

    h1 {
        padding: 30px 0;
    }

    /*=====  Footer  =====*/

    footer {
        text-align: center;
    }

    .social-networking-links a {
        font-size: 20px;
    }

    .footer-tag {
        padding-top: 13px;
        display: block;
        float: none;
        font-size: 12px;
    }

    .footer-tag a {
        font-size: 12px;
        padding-right: 4px;
    }
}

@media only screen and (max-width : 320px) {

}