/*==========  CSS Reset  ==========*/

html, body, div, span, h1, h2, h3,
h4, h5, h6, p, ol, ul, li, article,
aside, footer, header, nav, section,
input, button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

/*==========  Navigation  ==========*/

/*==========  Header  ==========*/

h1 {
    color: #fff;
    text-align: center;
    font-size: 50px;
}

/*==========  Main Content  ==========*/

body {
    background-color: rgb(16,17,18);
    font-family: 'Montserrat', sans-serif;
}

.container {
    position: absolute;
    width: 100%;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.section {
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    text-align: center;
}

.section:last-child {
    border-top: 2px solid rgb(16,17,18);
}

p {
    padding: 15px 0;
    font-size: 30px;
}

.lbl-text {
    font-size: 15px;
    word-wrap: break-word;
}

.textbox {
    border: 1px solid rgb(16,17,18);
    width: 248px;
}

input {
    display: block;
    margin: auto;
}

button {
    display: block;
    margin: 15px auto;
    padding: 20px 0;
    width: 250px;
    border: 1px solid rgb(16,17,18);
    -webkit-transition: color 0.5s, background-color 0.5s, ease;
    transition: color 0.5s, background-color 0.5s, ease;
    background-color: rgb(16, 17, 18);
    color: #fff;
}
button:hover {
    background-color: #fff;
    color: rgb(16, 17, 18);
    cursor: pointer;
}

/*==========  Footer  ==========*/

/*==========  For Desktop First  ==========*/

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 320px) {

}